@use '@/styles/_variables' as *;

.Goal {
  border-bottom: 1px solid $secondary-transparent;
}

.Goal:has(.GoalTasks:empty) {
  border-bottom: none;

  .GoalTitle {
    opacity: 0.5;
  }
}

.GoalHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
