@use '@/styles/_variables' as *;
@use '@/styles/mixins' as *;

$mobile-menu-icon-color: $primary;
$mobile-menu-open-icon-color: #ffffff;

.Header {
  padding: 10px;
  background-color: var(--bg-color);
  transition: padding 0.4s ease-in-out;
  z-index: 10;

  &.Sticky {
    position: sticky;
    top: 0;
    padding: 5px;
    box-shadow: 0 3px 5px #a8a8bc68;
  }
}

.Wrapper {
  max-width: $xl;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu {
  display: flex;
  align-items: center;
  gap: 15px;
  .Link {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    transition: opacity 0.3s ease-in-out;

    @include hover {
      opacity: 0.7;
    }
  }
}
