@use '@/styles/_variables.scss' as *;

.Wrapper {
  display: flex;
  justify-content: space-between;
  width: 100px;
  border: 1px solid $secondary;
  border-radius: 16px;
  overflow-y: auto;

  li.Active {
    background-color: $secondary;
    border-radius: 50%;

    button svg {
      stroke: #ffffff;
    }
  }
}
