@import '@/styles/_variables.scss';
@import '@/styles/mixin';

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;

  color: $accent;
  min-height: max-content;
  padding: 0.625rem;

  @include breakpoint-md {
    padding: 0.625rem 2.75rem;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.linksWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-grow: 1;

  a {
    @include link-style;
  }

  @include breakpoint-sm {
    flex-grow: 0;
  }
}

.toggleBtn {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background: none;
  margin-right: 25px;

  svg {
    color: #ffffff;
  }

  @include breakpoint-lg {
    display: none;
  }
}
