@use '@/styles/_variables.scss' as *;

.Tasks {
  width: 100%;
  border: 1px solid $secondary;

  & .Task {
    position: relative;
    counter-increment: list-counter;
    padding: 0.5rem 0.5rem 0.5rem 1.8rem;
    font-size: clamp(1rem, 5vw, 1.2rem);
    border-bottom: 1px solid $secondary;
  }

  .Task::before {
    content: counter(list-counter) '.';
    position: absolute;
    left: 0.5rem;
    color: $accent;
    font-size: clamp(1rem, 5vw, 1.2rem);
  }
}
