@use '@/styles/_variables.scss' as *;

.GoalsList {
  width: 100%;
}
.Goal {
  display: flex;
  width: 100%;
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 1.2rem);
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 1px solid $secondary;
  }

  .GoalTitle {
    flex-grow: 1;
  }
}
