<div style='font-family: Arial, sans-serif; padding: 20px;'>
  <h2 style='color: #9c5aff;'>Ласкаво просимо до Tsilovo!</h2>
  <p>Привіт, {{name}}!</p>
  <p>Ми раді, що ви з нами. Почнімо з налаштування вашого профілю.</p>

  <p style='margin-top: 10px;'>
    If you have any questions, please contact us at
    <a
      href='mailto:{{email}}'
      style='color: #848484; text-decoration: underline;'
    >{{email}}</a>.
  </p>
</div>