.inputWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 10px;
  max-width: 100%;
}

.searchIcon {
  position: absolute;
  left: 20px;
  color: #1f1c1c;
  font-size: 1.3rem;
}

.input {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #0010f3;
    box-shadow: 0 0 3px #0010f380;
  }

  &::placeholder {
    color: #aaa;
  }
}
