@use '@/styles/_mixins' as *;
@use '@/styles/_variables' as *;

$link-hover-bg: #cfd8dc;
$link-active-bg: rgba(158, 158, 158, 0.189);

.SideBar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: clamp(300px, 10vw, 500px);
  background-color: $secondary-transparent;
}

.Menu {
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
  gap: 5px;

  & .Link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;

    & svg {
      stroke: $secondary;
    }

    &:not(.Active) {
      @include hover {
        background: $link-hover-bg;
      }
    }
  }

  & .Active {
    background: $link-active-bg;
  }
}
