@use '@/styles/_mixins' as *;
@use '@/styles/_variables' as *;

.wrapper {
  padding: 5px 10px 10px 10px;
  border: 1px solid $accent-primary;
  border-radius: 20px;

  &.info {
    background-color: rgb(249, 240, 243);
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: $secondary;
    }

    svg {
      margin-right: 5px;
      font-size: 20px;
      color: $accent-primary;
    }
  }

  .message {
    text-align: center;
    color: $secondary;
  }

  button {
    @include linkWithOutline();

    &.closeButton {
      border: none;
      color: $accent-primary;
      align-items: center;
      padding: 5px 10px;
      @include hover {
        &:hover {
          color: $accent-primary;
          background-color: white;
        }
      }
    }
  }
}
