@import '../../../styles/_mixin.scss';

.container {
  height: 100%;
  padding: 15px;
  border-right: 1px solid $dark-secondary-text;
  @include breakpoint-lg {
    max-width: 80%;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .arrowButtons {
    display: flex;
    gap: 15px;
  }
  button {
    @include link-style;
  }

  .day {
    font-weight: 600;
    font-size: 1.5rem;

    span {
      color: $light-secondary-text;
    }
  }

  @include breakpoint-lg {
  }
}
