@import '../../../styles/_mixin.scss';

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.tasksContainer {
  border-right: 1px solid $dark-secondary-text;
  padding: 30px 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @include breakpoint-lg {
    max-width: 75%;
  }
  .tasksWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .arrowButtons {
      display: flex;
      gap: 15px;
    }
    button {
      @include link-style;
    }

    .day {
      font-weight: 600;
      font-size: 1.5rem;

      span {
        color: $accent-secondary;
        font-weight: 600;
      }
    }

    .saveBtnWrapper {
      button:first-child {
        margin-right: 10px;
      }
    }

    .downloadWrapper {
      border-radius: 20px;

      & button {
        border-radius: 0 20px 20px 0;
        padding: 10px;
      }

      & select {
        border: 1px solid $accent-hover;
        border-radius: 20px 0 0 20px;
        padding: 10px;
      }
    }

    @include breakpoint-lg {
    }
  }
}

.taskListWrapper {
  pointer-events: none;
  &.enable {
    pointer-events: all;
  }
}

.spinnerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.asideContainer {
  border-right: 1px solid $dark-secondary-text;
  width: 250px;
  height: 100%;
  text-align: center;

  h3 {
    padding: 20px;
    font-size: 20px;
    color: $dark-secondary-bg;

    span {
      color: $accent-secondary;
      font-weight: 600;
    }
  }

  .MuiDateCalendar-root {
    width: 250px;
  }
}
