@use '@/styles/_variables.scss' as *;

.Skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid $secondary;
}

.Statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .Wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    line-height: 1.1;
    border: 1px solid $primary;
    border-radius: 10px;
    padding: 25px;
  }

  .Title {
    font-size: clamp(1rem, 5vw, 1.2rem);
    color: $secondary;
    margin-bottom: 5px;
  }

  .SubTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: clamp(1rem, 5vw, 1.2rem);

    span {
      font-weight: 600;
      svg {
        color: $primary;
      }
    }

    span:first-child {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    span:last-child {
      color: $primary;
    }
  }

  .Completed {
    span svg,
    span:last-child {
      color: $accent;
    }
  }
}
