@use '@/styles/_mixins' as *;
@use '@/styles/_variables' as *;

.Container {
  width: 100%;
  padding: 10px;
}

.Top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasksContainer {
  padding: 30px 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .tasksWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    .day {
      font-weight: 600;
      font-size: 1.5rem;

      span {
        color: $primary;
        font-weight: 600;
      }
    }

    // .downloadWrapper {
    //   display: flex;
    //   align-items: center;
    // }
  }
}

.ListWrapper {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &.Enable {
    pointer-events: all;
  }
}
