@use '@/styles/_variables' as *;

[data-theme='dark'] {
  .Button {
    &.Disabled {
      border-color: $secondary;
      color: $secondary;
    }
  }
}

.Button {
  &.Outline {
    border-color: $primary;
    color: $primary;
  }

  &.Contained {
    background-color: $primary;
    color: #ffffff;
  }
}
