.errorMessage,
.noResultsMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  span {
    margin-left: 0.5rem;
  }
}

.errorMessage {
  color: #ff0000;
}

.noResultsMessage {
  color: #808080;
}
