@import '../../styles/_mixin.scss';

.errorMessage,
.noResultsMessage,
.messageWithToMainLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  flex-grow: 1;
  span {
    margin-left: 0.5rem;
  }
}

.errorMessage {
  color: #ff0000;
}

.noResultsMessage {
  color: #808080;
}

.messageWithToMainLink {
  height: 100%;
  gap: 15px;
  flex-direction: column;
  align-self: center;

  a {
    @include link-style();
  }
}
