@use '@/styles/_mixins' as *;
@use '@/styles/_variables' as *;

$link-hover-bg: #cfd8dc;
$link-active-bg: rgba(158, 158, 158, 0.189);

.SideBar {
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  background-color: $secondary-transparent;
  transition: all 0.3s ease-in-out;
  width: 50px;

  &.Open {
    width: clamp(250px, 20vw, 400px);
  }

  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .UserInfo {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }

  .Menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;

    & .Link {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 7px;
      transition: background-color 0.3s ease-in-out;
      border-radius: 5px;

      & svg {
        stroke: $secondary;
      }

      &:not(.Active) {
        @include hover {
          background: $link-hover-bg;
        }
      }
    }

    & .Active {
      background-color: $primary-soft;

      & svg {
        stroke: $primary;
      }
    }
  }

  .GlobalSettings {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
  }
}
