@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.ManageGoalForm {
  display: flex;
  align-items: center;
  width: clamp(250px, 100%, 350px);
}

.EmojyPickerWrapper {
  position: relative;
}

.Actions {
  display: flex;
}
