@use '@/styles/_variables' as *;

.Wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 10px;
  justify-content: flex-start;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid $secondary;
}

.TaskWrapper {
  border-radius: 10px;
  border: 1px solid $secondary;
  background-color: var(--bg-color);
  width: 250px;
  overflow-y: auto;
  max-width: 100%;
}

.TaskItem {
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    font-size: 1rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $secondary;
  }

  .Description {
    overflow-wrap: break-word;
    width: 100%;
    overflow: hidden;
  }
}
