@import '../../styles/_variables.scss';
@import '../../styles/mixin';

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: $base-dark-color;
  color: #ffffff;
  min-height: max-content;
  padding: 0.625rem;

  @include desktop {
    padding: 0.625rem 2.75rem;
  }
}

.wrapper {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleBtn {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background: none;

  svg {
    color: #ffffff;
  }

  @include desktop {
    display: none;
  }
}

.dekstopNavMenu {
  display: none;

  @include desktop {
    display: block;
  }
}

.mobileNavMenu {
  display: block;

  @include desktop {
    display: none;
  }
}

.login {
  @include link-style;
}
