@import '@/styles/_mixin.scss';
@import '@/styles/_variables.scss';
@import '@/styles/_placeholders';

.wrapper {
  align-self: center;
  width: 600px;
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  button {
    width: 100%;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .notEditable {
    opacity: 0.4;
    user-select: none;
  }

  .checkbox {
    display: flex;
    gap: 10px;
  }

  .errorField {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $accent-red;
  }
}

.switchPage {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @include sm {
    flex-direction: row;
  }
}

.button {
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: $dark-primary-text;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &.rounded {
    border-radius: 5px;
  }

  &:hover {
    @include hover;
    &:not(.disabled) {
      background-color: $accent;
    }
  }

  &.disabled {
    background-color: $accent-hover;
    cursor: not-allowed;
    user-select: none;
  }

  &:disabled {
    background-color: $light-primary-text;
    cursor: not-allowed;
    user-select: none;
  }
}
