@use '@/styles/_mixins' as *;
@use '@/styles/_variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  text-align: center;
  height: 500px;

  h3 {
    font-size: 25px;
  }

  .notification {
    color: $primary;
  }

  .message {
    font-size: 20px;
    align-self: center;
    justify-self: center;
    color: $primary;
  }
}
