@use '@/styles/_mixins' as *;
@use '@/styles/_variables' as *;

.sideBar {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: clamp(300px, 10vw, 500px);
  background-color: $secondary;

  & > *:not(.menu) {
    padding: 5px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
  }

  .menuLink {
    @include linkBase();

    &.active {
      width: 100%;
      background: $secondary;
      opacity: 0.3;
    }
  }

  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .loginLink {
    @include linkWithOutline($color: $primary);
  }
}
