.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
}

.listWrapper {
  overflow: hidden;
  position: relative;
  min-height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.75rem;
}

.list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 1.25rem;
  width: 100%;
}

.button {
  flex-shrink: 0;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #4b5563;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;

  &:disabled {
    color: #d1d5db;
    background-color: white;
    cursor: not-allowed;
    user-select: none;
  }

  @media (min-width: 500px) {
    width: 50px;
    height: 50px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #e5e7eb;
      border-radius: 1.5rem;
    }
  }
}
