@import '_variables.scss';

@mixin breakpoint-sm {
  @media (min-width: 568px) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin breakpoint-xl {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin link-style(
  $color: #ffffff,
  $active-color: $base-accent-color,
  $hover-color: #f87171
) {
  color: $color;
  transition: all ease-in-out 0.3s;

  &.active {
    color: $active-color;
  }

  &.withIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &.buttonStyle {
    background-color: #1e90ff;
    border-radius: 3px;
    padding: 5px 10px;
  }

  @include hover {
    &:hover {
      color: $hover-color;
    }

    &.buttonStyle:hover {
      background-color: #003366;
    }
  }
}
