@use '@/styles/_variables.scss' as *;

.Goal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid $secondary;
  }

  .GoalTitle {
    flex-grow: 1;

  }
}
