@use '@/styles/_variables.scss' as *;

.InputWrapper {
  display: flex;
  position: relative;
  width: 100%;
  // width: clamp(250px, 100%, 350px);

  .Input {
    padding: 0 5px;
    width: 100%;
    border-bottom: 1px solid $secondary;
  }

  .Counter {
    position: absolute;
    right: 5px;
    top: 0;
    color: $secondary;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:focus-within .Counter {
    opacity: 1;
  }
}
