@use '@/styles/_variables' as *;

.TaskItem {
  position: relative;
  display: flex;
  align-items: center;

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
  }
}
