@use '@/styles/_variables' as *;
@use '@/styles/_mixins' as *;

.Label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $secondary;
}

.Checkbox {
  box-sizing: border-box;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.3s;

  &[data-unchecked] {
    border: 1px solid $secondary;
    background-color: transparent;

    @include hover {
      background-color: $secondary-transparent;
      box-shadow: 0 0 0 0.2rem rgba(0, 166, 255, 0.234);
    }
  }

  &[data-checked] {
    background-color: $primary;

    @include hover {
      box-shadow: 0 0 0 0.2rem rgba(0, 166, 255, 0.234);
    }
  }

  &:focus-visible {
    outline: 2px solid $primary;
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $secondary;
  }
}

.Indicator {
  display: flex;
  color: #ffffff;

  &[data-unchecked] {
    display: none;
  }
}

.Icon {
  width: 0.75rem;
  height: 0.75rem;
}
