@use '@/styles/_variables' as *;

.Accordion {
  .Wrapper {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-bottom: 1px solid #ffffff;
  }

  .Title {
    font-size: clamp(1rem, 5vw, 1.2rem);
    width: 100%;
  }

  .Details {
    background-color: $secondary-transparent;
  }
}
