.Accordion {
  .Wrapper {
    background-color: var(--color-bg);
    color: var(--color-text);
    border-bottom: 1px solid #ffffff;
  }

  .Title {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
