@use '@/styles/_variables.scss' as *;

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Title {
  font-size: clamp(1rem, 5vw, 1.2rem);
  font-weight: 400;
}

.Statistics {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
