@use '@/styles/_variables' as *;
@use '@/styles/_mixins' as *;

.Container {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  min-height: inherit;
  margin: 0 auto;
}

.MaxWidth {
  max-width: $xl;
  padding: 0 10px;
  margin: 0 auto;
}

.Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Main {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.Footer {
  border-top: 1px solid $secondary;
}
