@use '@/styles/_variables' as *;
@use '@/styles/_mixins' as *;

.container {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  gap: 10px;

  @include md {
    padding: 0 2.75rem;
  }

  main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
