@use '@/styles/_variables' as *;

.Wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.Form {
  width: 400px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  text-transform: uppercase;
  color: $secondary;
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 1.2rem);
  text-align: center;
  margin-bottom: 20px;
}
