@use '@/styles/_variables' as *;

.Wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 10px;
  justify-content: flex-start;
}

.TaskWrapper {
  border-radius: 10px;
  border: 1px solid $secondary;
  background-color: var(--bg-color);
  width: 250px;
  overflow-y: auto;
  max-width: 100%;

  .Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  .Task {
    & > div:not(:last-child) {
      border-bottom: 1px solid $secondary-transparent;
    }
  }
}
