<div style='font-family: Arial, sans-serif; padding: 20px; font-size: 1rem;'>
  <h2 style='color: #9c5aff;'>Email змінено</h2>
  <p>Привіт, {{name}}!</p>
  <p>Вашу електронну пошту було успішно змінено.</p>

  <p>Якщо це були не ви — зверніться до служби підтримки
    <a
      href='mailto:{{email}}'
      style='color: #9c5aff; text-decoration: underline;'
    >{{email}}</a>.</p>
</div>