<div style='font-family: Arial, sans-serif; padding: 20px; font-size: 1rem;'>
  <h2 style='color: #9c5aff;'>Скидання пароля</h2>
  <p>Привіт, {{name}}!</p>
  <p>Натисніть кнопку нижче, щоб скинути пароль:</p>
  <a
    href='{{url}}'
    style='color: #fff; background-color: #f17611; padding: 10px 15px; text-decoration: none;'
  >
    Скинути пароль
  </a>

  <p style='margin-top: 20px;'>
    Якщо ви не надсилали цей запит, просто проігноруйте цей лист.
  </p>

  <p style='margin-top: 10px;'>
    Якщо ви маєте питання, зверніться до нас за адресою
    <a
      href='mailto:{{email}}'
      style='color: #848484; text-decoration: underline;'
    >{{email}}</a>.
  </p>
</div>