@use '@/styles/_variables.scss' as *;
@use '@/styles/_mixins.scss' as *;

.Goals {
  border-bottom: 1px solid $secondary-transparent;

  .Title {
    padding-top: 40px;
    font-size: clamp(1.2rem, 5vw, 2.2rem);
    font-weight: 600;
    border-bottom: 1px solid $secondary-transparent;

    @include md {
      padding-top: 0;
    }
  }
}

.Skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Wrapper {
  padding: clamp(10px, 5vw, 30px) 0;

  .GoalsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.Goal {
  display: flex;
  justify-content: space-between;
  width: clamp(250px, 100%, 350px);

  .Emoji {
    margin-right: 10px;
    color: $secondary;
  }

  .Content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    overflow-wrap: break-word;
    border-bottom: 1px solid $secondary-transparent;
  }

  .GoalTitle {
    overflow-wrap: break-word;
    width: 100%;
  }
}

.AddGoal {
  display: flex;
  align-items: center;
  padding: 10px 0;

  .Description {
    color: $secondary;
  }
}
