<div style='font-family: Arial, sans-serif; padding: 20px; font-size: 1rem;'>
  <h2 style='color: #9c5aff;'>Your Account Has Been Deleted</h2>
  <p>Hello {{name}},</p>
  <p>Your account has been successfully deleted. We’re sorry to see you go.</p>

  <p>If this wasn't you, please contact support immediately
    <a
      href='mailto:{{email}}'
      style='color: #9c5aff; text-decoration: underline;'
    >{{email}}</a>.</p>
</div>