@use '@/styles/_variables' as *;

.WeeklyTodo {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 10px;
  justify-content: flex-start;
}

.WeekContainer {
  width: 100%;
  .Header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-transparent;
  }

  .Title {
    font-size: clamp(1rem, 5vw, 1.5rem);
    font-weight: 600;
  }

  .FilterList {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    .Active {
      background-color: $secondary-transparent;
      border-radius: 50%;

      button svg {
        stroke: $primary;
      }
    }
  }
}
