@import '@/styles/_mixins.scss';

.fieldsWrapper {
  width: 1200px;
  max-width: 100%;

  .successIcon {
    color: #004b00;
    fill: #86d986;
    margin-left: 5px;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  visibility: visible;
  &.hidden {
    visibility: hidden;
  }
}

.icon {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  color: #615e5e;
  font-size: 1.3rem;

  svg {
    @include hover {
      &:hover {
        color: #a4a4a4;
      }
    }
  }
}

.eyeIcon {
  position: absolute;
  right: 15px;
  color: #585555;
  font-size: 1.3rem;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;

  &.noIcon {
    padding-left: 0.5rem;
  }

  &:focus {
    border-color: #0010f3;
    box-shadow: 0 0 3px #0010f380;
  }

  &::placeholder {
    color: #aaa;
  }
}

.messageField {
  min-height: 20px;
  height: auto;
  p {
    display: flex;
    align-items: center;
    gap: 5px;

    &.error {
      color: #ff0000;
      line-height: 1;
    }
  }
}
