@import '../../styles/_variables.scss';

.spinner {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
}

.circleOne,
.circleTwo,
.circleThree {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.circleOne {
  width: 25px;
  height: 25px;
  border: 10px solid $accent-hover;
  border-color: $accent-hover $accent $accent-hover transparent;
  animation-delay: -0.15s;
}

.circleTwo {
  width: 50px;
  height: 50px;
  border: 8px solid $accent;
  border-color: transparent $accent transparent $accent;
  animation-delay: -0.55s;
}

.circleThree {
  width: 38px;
  height: 38px;
  border: 8px solid $accent-secondary;
  border-color: transparent $accent-secondary transparent $accent-secondary;
  animation-delay: -0.1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
