@import '@/styles/_mixin.scss';
@import '@/styles/_variables.scss';

.logo {
  display: flex;
  align-items: center;
  font-size: 1rem;
  svg {
    margin-right: 0.5rem;
  }

  span {
    color: $accent-secondary;
  }

  @include breakpoint-sm {
    font-size: 1.4rem;
  }
}
