@use '@/styles/_variables' as *;
@use '@/styles/_mixins' as *;

.Day {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 20px 0;
  gap: 10px;
  justify-content: center;
  flex-direction: row;

  @include md {
    justify-content: flex-start;
  }

  &.listView {
    flex-direction: column;
    gap: 5px;

    .GoalHeader {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}
