@use '@/styles/_variables' as *;

.Wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  gap: 1rem;
  width: 100%;
  overflow-y: scroll;

  .Title {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: $secondary;
    border-bottom: 1px solid $secondary-transparent;
    font-weight: 600;
  }

  .FormsWrapper {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1500px;
  }

  .Delete {
    padding: 20px 0;
    border-top: 1px solid $secondary-transparent;
    width: 100%;
  }

  .Note {
    color: $secondary;
    padding: 5px 0;
    font-size: clamp(0.8rem, 5vw, 1rem);
  }
}
