@use '@/styles/_variables' as *;
@use '@/styles/_mixins' as *;

.btn {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-size: clamp(1rem, 5vw, 1.3rem);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  width: auto;

  &:disabled {
    background-color: $secondary;
    cursor: default;
  }
}

$btn-variants: (
  'primary': $accent-primary,
  'accent': $accent-primary,
);

@each $name, $color in $btn-variants {
  .btn-#{$name} {
    background-color: $color;
    color: #ffffff;
  }

  .btn-outline-#{$name} {
    background-color: transparent;
    border: 2px solid $color;
    color: $color;
  }
}
