@import '@/styles/_variables.scss';
@import '@/styles/_mixin.scss';

.btn {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-size: clamp(1rem, 5vw, 1.3rem);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  width: auto;

  &:disabled {
    background-color: $btn-disable;
    cursor: default;
  }
}

$btn-variants: (
  'primary': $btn-primary,
  'accent': $btn-accent,
);

@each $name, $color in $btn-variants {
  .btn-#{$name} {
    background-color: $color;
    color: #ffffff;
  }

  .btn-outline-#{$name} {
    background-color: transparent;
    border: 2px solid $color;
    color: $color;
  }

  .btn-#{$name}-hover-gradient {
    @extend .btn-outline-#{$name};
    @include button-hover-gradient($color);
  }
}
