// Button.module.scss
@import '@/styles/_variables.scss';
@import '@/styles/_mixin.scss';

// Base Button Styles
.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

// Task List Button Styles
.editButton,
.deleteButton,
.saveButton,
.cancelButton {
  background-color: transparent;
  padding: 5px 8px;
  border-radius: 100%;
  color: $accent;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $dark-primary-text;
  }
}

// Specific Styles for Edit Button
.editButton {
  font-size: 25px;

  &:hover {
    color: $accent-hover;
  }
}

// Auth Button Styles

.buttonAuth {
  text-align: center;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: $accent-hover;
  cursor: pointer;

  &.rounded {
    border-radius: 5px;
  }

  &.disabled {
    background-color: $dark-primary-text;
    cursor: default;
  }

  &:hover {
    @include hover();
    &:not(.disabled) {
      background-color: $accent;
    }
  }
}
