@use '@/styles/_variables' as *;

@mixin sm {
  @media (min-width: 786px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 786px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 786px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 786px) {
    @content;
  }
}

@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

// Core link styles
@mixin linkBase(
  $color: var(--text-color),
  $hover-color: $secondary,
  $padding: 10px 5px
) {
  display: inline-flex;
  align-items: center;
  color: $color;
  padding: $padding;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:has(svg) {
    align-items: center;
    gap: 10px;
  }

  &.active {
    user-select: none;
    cursor: not-allowed;
  }

  &:not(.active) {
    @include hover {
      color: $hover-color;
    }
  }
}

// Link with background
@mixin linkWithBackground(
  $color: #ffffff,
  $bg-color: $accent-primary,
  $border-radius: 10px,
  $padding: 7px 15px
) {
  @include linkBase();
  background-color: $bg-color;
  border-radius: $border-radius;
  padding: $padding;
}

// Link with outline (color and border same)
@mixin linkWithOutline(
  $color: $primary,
  $border-radius: 10px,
  $padding: 7px 15px,
  $bg-hover: transparent,
  $text-hover: #ffffff
) {
  color: $color;
  background-color: transparent;
  border: 1px solid $color;
  border-radius: $border-radius;
  padding: $padding;

  @include hover {
    color: $text-hover;
    background-color: $bg-hover;
  }
}
