$dark-bg: #3c414a;
$dark-secondary-bg: #2e3754;
$dark-primary-text: #e0e0e0;
$dark-secondary-text: #a8a8a8;
$light-bg: #fbfbfc;
$light-primary-text: #333333;
$light-secondary-text: #666666;

// Accent Colors
$accent: #6985ff;
$accent-hover: #5370f4;
$accent-secondary: #ee5e99;

$accent-red: #d33d44;

$high-priority: #ee5e99;
$middle-priority: #ff8042;
$low-priority: rgba(117, 204, 117, 0.805);

// Checkbox
$checkbox-isChecked: #5370f4;
