// Dark Theme
$dark-bg: #1c1c1c;
$dark-secondary-bg: #3b3a3a;
$dark-primary-text: #e0e0e0;
$dark-secondary-text: #a8a8a8;
$dark-button-bg: #f5f5f5;

// Light Theme
$light-bg: #ffffff;
$light-primary-text: #333333;
$light-secondary-text: #666666;
$light-button-bg: #333333;

// Accent Colors
$accent-red: #fe3c3c;
$accent-red-hover: #d83434;
$accent-red-active: #ff5050;
