// Dark Theme
$dark-bg: #3c414a;
$dark-secondary-bg: #2e3754;
$dark-primary-text: #e0e0e0;
$dark-secondary-text: #a8a8a8;

// Light Theme
$light-bg: #fbfbfc;
$light-primary-text: #333333;
$light-secondary-text: #666666;

// Accent Colors
$accent: #6985ff;
$accent-hover: #5370f4;
$accent-secondary: #ee5e99;

$accent-red: #d33d44;
