@forward './_reset.scss';

:root {
  --bg-color: #ffffff;
  --text-color: #2b2b2b;
}

[data-theme='dark'] {
  --bg-color: #000000;
  --text-color: #d3d3d3;
}

[data-theme='dark'] {
  svg {
    color: #f17611;
  }

  button:disabled {
    opacity: 0.7;
  }
}

/* General styles */
body {
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input:focus-visible {
  outline-color: #9c5aff;
}
