@forward './_reset.scss';

:root {
  --bg-color: #ffffff;
  --text-color: #0b000f;
}

[data-theme='dark'] {
  --bg-color: #161b2d;
  --text-color: #ffffff;
}

[data-theme='dark'] svg {
  color: white;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
