@import '../../../styles/_mixin.scss';
@import '../../../styles/_variables.scss';

.movieCard {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 305px;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 2px 2px 0px #bebebe;
  background-color: white;

  & .noPhoto {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d4;

    svg {
      color: #787878;
    }
  }

  .title {
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
  }

  .saveToFavorites,
  .videoUrlWrapper {
    display: none;
  }

  @include hover {
    &:hover {
      .saveToFavorites {
        display: block;
        position: absolute;
        padding: 10px;
        top: 0;
        right: 0;

        svg {
          color: #ffffff;

          @include hover {
            &:hover {
              color: $base-accent-color;
            }
          }
        }
      }

      .videoUrlWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        width: 100%;
        height: 250px;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.199);

        svg {
          color: #ffffff;
        }
      }
    }
  }

  .movieInfo {
    span {
      margin-right: 3px;
      color: gray;
      font-size: 0.8rem;
      text-align: left;

      &::after {
        content: ',';
      }

      &:last-child::after {
        content: '';
      }

      &.genre {
        text-transform: capitalize;
      }
    }
  }
}
