@use '@/styles/_variables' as *;
@use '@/styles/_mixins' as *;

.DayWrapper {
  border-radius: 10px;
  border: 1px solid $secondary;
  background-color: var(--bg-color);
  max-width: 550px;
  min-width: 200px;
  padding-bottom: 10px;

  .NoGoals {
    color: $secondary;
    padding: 10px;
    text-align: center;
  }

  .Header {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }

  @include md {
    min-width: 300px;
  }
}

.Goal {
  border-bottom: 1px solid $secondary-transparent;
  font-weight: 600;
}

.Goal:has(.GoalTasks:empty) {
  border-bottom: none;
  font-weight: 400;

  .GoalTitle {
    opacity: 0.5;
  }
}

.GoalHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.TaskItem {
  display: flex;
  align-items: center;
  flex-direction: start;

  input[type='checkbox'] {
    font-size: 1rem;
  }

  .Description {
    overflow-wrap: break-word;
    width: 100%;
    overflow: hidden;
  }

  .DraggableIcon {
    display: none;
  }

  @include lg {
    .DraggableIcon {
      display: block;
      color: $primary;
      font-size: 18px;
      line-height: 1;
      cursor: pointer;
    }
  }
}
